.message {
	margin: 10px;
	padding: 5px;
	width: fit-content;
	border-radius: 50px;
}

.text {
	font-size: 18px !important;
	font-family: sans-serif !important;
}

.message_user {
	margin-left: auto;
	color:white;
	text-align: left !important;
}

.message_userCard {
	background-color: lightblue !important;
	align-content: right !important;
	 
}

.message_guestCard {
	background-color: #e9e9eb !important;
	align-content: left !important;
}